<!-- _layouts/portfolio.html -->

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <style>
    /* Custom styles for the portfolio page */
    .portfolio-button {
      display: inline-block;
      margin: 20px 0;
      text-align: center;
    }
    .portfolio-button img {
      width: 2cm;
      height: 2cm;
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <nav>
        <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
        <a href="{{ site.baseurl }}/portfolio/sql">SQL Projects</a>
      </nav>
    </div>
    <div class="content">
      <header>
        <h1>Welcome to My Projects</h1>
        <div class="underline"></div>
      </header>
      <section class="main-content">
        <div class="portfolio-button">
          <a href="{{ site.baseurl }}/portfolio/sql">
            <img src="https://github.com/nbahador/nbahador.github.io/blob/main/assets/img/sql.png" alt="SQL Projects">
            <p>SQL Projects</p>
          </a>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
